radarr.example.com {
 basic_auth {
  owner REPLACE_WITH_CADDY_PASSWORD_HASH
 }
 reverse_proxy media-stack-radarr-1:7878
}
prowlarr.example.com {
 basic_auth {
  owner REPLACE_WITH_CADDY_PASSWORD_HASH
 }
 reverse_proxy media-stack-prowlarr-1:9696
}
watch.example.com {
 header Referrer-Policy no-referrer
 handle_path /REPLACE_WITH_RANDOM_SECRET/* {
  reverse_proxy media-stack-media-files-1:8080
 }
 handle {
  respond "Not found" 404
 }
}
qbittorrent.example.com {
 basic_auth {
  owner REPLACE_WITH_CADDY_PASSWORD_HASH
 }
 reverse_proxy gluetun:8080 {
  header_up Host gluetun:8080
 }
}
